<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/login" method="post">
    <div>
        <label for="name"> username:</label>
        <input type="text" id="name" name="user">
    </div>
    <div>
        <label for="pwd"> password:</label>
        <input type="password" id="pwd" name="pwd">
    </div>
    <div class="button">
        <button type="submit" >提交</button>
    </div>

</form>
<div class="login-options clearfix">
        <a href="./signin.html">注册</a>
</div>
</body>
</html>